img {
    width: 500px
}

body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    background: burlywood;
}

#PageTitle {
    text-align: center;
}

#Annotation {
    text-align: center;
}

hr.rounded {
    border-top: 20px solid #844bb4;
    border-radius: 50px;
}