* {
    box-sizing: border-box;
}

body {
    text-align: start;
    color: #123458;
    background: #D4C9BE;
}

p,
a {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

section {
    background-color: pink;
    padding-inline: 1em;
    margin-inline: 1em;
    border-radius: 1em;
    padding-block: 1em;
    margin-block: 1em;
}

img {
    padding: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    display: block;
    padding-bottom: 1.5%;
}

#PageTitle, 
#Annotation {
    text-align: center;
}
#LinkHolder {
  background-color: pink;
  font-size: 3rem;
  text-align: center;
  margin-inline: 1em;
  border-radius: 1em;
}

@media (min-width: 400px) {
  img {
    padding-block: 0rem;
  }

nav {
  line-height: 150%;
}

#LinkHolder {
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 2rem;
    @media(width > 720px) {
      font-size: 4rem;
    }
    
    
}
}

