img {
    transform: scale(0.5);
    padding: 0;
    margin: 0;
}

body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    background: burlywood;
    margin: 0;
    padding: 0;
}

#PageTitle {
    text-align: center;
}

#Annotation {
    text-align: center;
}

hr.rounded {
    border-top: 20px solid #844bb4;
    border-radius: 50px;
}